.big-container {
  height: 100vh;

  background: linear-gradient(-45deg, #2D4059, #EA5455, #1EA896, #FFB400);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.name-banner {
  font-family: 'Mukta', sans-serif;
  font-size: 60px;
  color: #FFFFFF;
}

.nav-button {
  font-family: 'Mukta', sans-serif;
  text-align: center;
  padding: 7px;
  margin: 5px;
  border: 2px solid #1EA896;
  border-radius: 10px;
  background-color: #4C5454;
  color: #FFFFFF;
  transition-duration: .6s;
}

.nav-button:hover {
  font-family: 'Mukta', sans-serif;
  text-align: center;
  padding: 7px;
  margin: 5px;
  border: 2px solid #1EA896;
  border-radius: 10px;
  background-color: #1EA896;
  color: #FFFFFF;
  text-decoration: none;
}

.nav-container {
  background-color: transparent;
  padding-top: 60px;
  margin-left: 45px;
}

.headshot {
  background-color: #1EA896;
  border-radius: 300px;
  border: 3px solid #1EA896;
  height: 25%;
  width: 25%;
}

.bio-container {
  color: #FFFFFF;
  padding: 10px;
  border: 4px solid #1EA896;
  border-radius: 10px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  background-color: #4C5454;
  flex-direction: row;
}

.bio {
  font-family: 'Mukta', sans-serif;
  margin-top: 70px;
  margin-left: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.social-container {
  display: flex;
  flex-direction: row;
}

.social-icon {
  margin: 10px;
  width: 64px;
}

.skills-container {
  color: #4C5454;
  padding: 10px;
  border: 4px solid #1EA896;
  border-radius: 10px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  width: 50%;
}

.skills-title {
}

.skills-icon {
  width: 48px;
  height: 48px;
}