.big-container {
  background-color: #173F5E;
  height: 100vh;
}

.name-banner {
  font-family: 'Mukta', sans-serif;
  font-size: 60px;
  color: #FFFFFF;
}

.nav-button {
  font-family: 'Mukta', sans-serif;
  text-align: center;
  padding: 7px;
  margin: 5px;
  border: 2px solid #1EA896;
  border-radius: 10px;
  background-color: #4C5454;
  color: #FFFFFF;
  transition-duration: .6s;
}

.nav-button:hover {
  font-family: 'Mukta', sans-serif;
  text-align: center;
  padding: 7px;
  margin: 5px;
  border: 2px solid #1EA896;
  border-radius: 10px;
  background-color: #1EA896;
  color: #FFFFFF;
  text-decoration: none;
}

.nav-container {
  background-color: #173F5E;
  padding-top: 70px;
  margin-left: 45px;
}

.headshot {
  background-color: #1EA896;
  border-radius: 300px;
  border: 3px solid #1EA896;
  height: 25%;
  width: 25%;
}

.bio-container {
  color: #FFFFFF;
  padding: 10px;
  border: 4px solid #1EA896;
  border-radius: 10px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  background-color: #4C5454;
  flex-direction: row;
}

.bio {
  font-family: 'Mukta', sans-serif;
  margin-top: 70px;
  margin-left: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.social-container {
  display: flex;
  flex-direction: row;
}

.social-icon {
  margin: 10px;
  width: 64px;
}